.btn {
    &,
    &:link,
    &:visited {
        text-transform: uppercase;
        text-decoration: none;
        padding: .8rem 2rem;
        font-size: 1.2rem;
        width: 100%;
        color: black;
        font-weight: 700;

        //Change for the default button element
        background: rgba($color-grey-light, .5);
        border-radius: 3px;
        cursor: pointer;
        box-shadow: 0 2px 2px rgba(#000,.2);
        transition: .2s transform ease-out;
    }

    @include respond(medium) {

        &:hover {
            color: black;
            background:$color-grey-light;
            transform: translateY(1px);
            text-shadow: 0 2px 2px rgba(#000, 0);
            box-shadow: 0 2px 2px rgba(#000,.5);
        }
    }   
}