.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
    text-align: center;

    @include respond(xsmall) {
        flex-direction: row;
    }
}

.contact {
    border-bottom: $border-primary;
    padding-bottom: 8rem;

    @include respond(xsmall) {
        text-align: right;
        border-bottom: none;
        border-right: $border-primary;
        padding-right: 3rem;
        padding-bottom: 0;
    }

    &__title {
        text-transform: uppercase;
        font-weight: 500;
        letter-spacing: 3px;
        padding-bottom: .2rem;
        margin-bottom: 1rem;
        border-bottom: $border-primary;
    }

    &__link {
        &,
        &:link,
        &:visited {
            margin-bottom: .2rem;
            display: block;

            @include respond(xsmall) {
                text-align: right;
                justify-content: flex-end;
            }
        }
    }
}

.copy {
    padding: 3rem 0;
    line-height: 1.6;

    @include respond(xsmall) {
        padding-left: 3rem;
        text-align: left;
    }
}