.header {
    padding-top: 4rem;

    &__flex {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__logo {
        width: 175px;
        height: 175px;
        transition: .5s transform ease-out;

        &:hover {
            transform: rotate(360deg);
            background-image: radial-gradient(rgba(#fff, .8), rgba(#fff, 0) 70%);
        }

        @media screen and (max-width: 1200px) {
            height: 125px;
            width: 125px;
        }
    }

    &__text-box {
        margin-left: 3rem;
    }

    &__name {
        font-size: 4.5rem;
        font-weight: 700;
        letter-spacing: 7px;
        text-transform: uppercase;
        margin: 0;
    }

    &__subtitle {
        font-size: 1.5rem;
        letter-spacing: 2px;
        font-weight: 100;
        color: $color-primary;
    }

    &__links {
        position: absolute;
        bottom: 8vh;
        left: 50%;
        transform: translateX(-50%);
        width: 50%;
    }

    &__socialLinks {
        margin-top: 1rem;
        padding: 1rem 0;
        display: flex;
        justify-content: space-around;
    }

    &__link {
        &:not(:last-child) {
            margin-right: 1rem;
        }
    }

    &__projectsLink {
        margin-top: 1.5rem;
        display: inline-block;
        transition: .2s transform ease-out;

        &:hover {
            transform: translateY(1px);
        }

        a,
        a:link,
        a:visited { 
            color: #CED0CF;
            text-decoration: none;
            text-transform: uppercase;
            letter-spacing: 2.5px;
        }

        a:hover {
            color: white;
            text-shadow: 0 1px 2px rgba(#000,.5);
        }   
    }

    &__downArrow {
        font-size: 3rem;
        margin: -.5rem 0;
    }


}