.header {
    padding-top: 3rem;

    &__logo {
        width: 175px;
        height: 175px;
        transition: .5s transform ease-out;

        &:hover {
            transform: rotate(360deg);
            background-image: radial-gradient(rgba(#fff, .8), rgba(#fff, 0) 70%);
        }

        @media screen and (max-width: 1200px) {
            height: 125px;
            width: 125px;
        }
    }

    &__text-box {

    }

    &__name {
        font-size: 3.5rem;
        font-weight: 700;
        text-transform: uppercase;
        margin: 0;

        @include respond(xsmall) {
            font-size: 4.5rem;
            letter-spacing: 7px;
        }
    }

    &__subtitle {
        font-size: 1.5rem;
        letter-spacing: 2px;
        font-weight: 100;
    }

    &__description {
        margin: 2rem 0;
        padding: 8rem 2rem;
        width: 100%;
        background: rgba(#fff, .3);
        font-size: 1.1rem;

        -webkit-clip-path: polygon(0 8%, 100% 0, 100% 92%, 0% 100%);
        clip-path: polygon(0 8%, 100% 0, 100% 92%, 0% 100%);

        @include respond(small) {
            padding: 4rem 5rem;
        }

        img {
            width:250px;
            max-width: 100%;
            max-height: 250px;
            border-radius: 50%;
            filter: grayscale(1);
            border: 8px solid white;
            margin-bottom: 1rem;

            @include respond(xsmall) {
                width:250px;
                max-width: 100%;
                max-height: 250px;
                margin-right: 3rem;
            }
        }

        p {
            &:not(:last-child) {
                margin-bottom: .5rem;
            }

            @include respond(xsmall) {
                text-align: justify;
            }
        }
    }

    &__socialLinks {
        margin: 1rem 1rem 0 1rem;
        padding: 1rem 0;

        @include respond(small) {
            margin: 1rem 0;
        }
    }

    &__link {
        display: block;
        margin-bottom: 1rem;

        @include respond(xsmall) {

            &:not(:last-child) {
            margin-right: 1rem;
            }
        }   
    }

    &__projectsLink {
        display: inline-block;
        position: absolute;
        bottom: 5vh;
        left: 50%;
        transform: translateX(-50%);

        a,
        a:link,
        a:visited{
        text-transform: uppercase;
        text-decoration: none;
        letter-spacing: 2px;
        }
 
    }
    
    &__downArrow {
        font-size: 2rem;
    }


}


//header flex styling
.header {
    &__flex {
        @include respond(small) {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    &__description {
        @include respond(small) {
            display: flex;
            align-items: center;
        }
    }

    &__socialLinks {
        @include respond(xsmall) {
            margin-top: 1rem;
            padding: 1rem 0;
            display: flex;
        }
    }
}