.project {
    background: rgba(#fff, .3);
    overflow: hidden;
    border-radius: 5px;
    width: 30%;
    min-width: 300px;
    height: auto;
    min-height: 36rem;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    transition: transform .2s ease-out;

    &:hover {
        @include respond(medium) {
            transform: scale(1.05);
        }
    }

    &__info {
        height: 100%;
        flex: 2;
        display: flex;
        flex-direction: column;
        position: relative;
    }

    &__titleContainer {
        z-index: 5;
        padding: .3rem 1rem;
        background-color: rgba(#fff, .3);
    }

    &__bodyContainer {
        padding: 1rem 1.5rem;
    }

    &__techContainer {
        margin-top: 1rem;
        padding: 0 1rem 1rem;
        position: absolute;
        bottom: 0;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        align-items: center;
        width: 100%;
    }

    [class^="devicon-"] {
        font-size: 1.9rem;
    }

    &__icon {
        font-size: 2rem;
        margin-top: .5rem;
        transition: all .2s ease-out;

        &:hover {
            color: $color-purple;
        }

        &:not(:last-child) {
            margin-right: .5rem;
        }
    }

    &__photo {
        // -webkit-clip-path: polygon(50% 0, 100% 0, 100% 100%, 25% 100%);
        // clip-path: polygon(50% 0, 100% 0, 100% 100%, 25% 100%);
        height: 13rem;
        width: 100%;
        background-size: cover;
        background-position: center;

        &--1 {
            background-image: url('../images/PlannerAppThumb1.png');
        }

        &--2 {
            background-image: url('../images/project2.jpg');
        }

        &--3 {
            background-image: url('../images/project3.jpg');
        }
    }

    &__link {
        margin: .5rem 0;
        display: inline-block;
        font-size: 1.2rem;
        color: #000;
    }
}

