.section-header {
    height: 105vh;
    background-image: url(../images/foggy.jpg); //linear-gradient(to bottom, rgba(#777, 1), rgba(#fff, 0)), 
    background-size: cover;
    background-position: bottom;
    position: relative;
    text-align: center;
}

.section-projects {
    margin-top: -2.5rem;
    padding: 8rem 0;
    background-image: linear-gradient(
        to bottom, 
        rgba(#253328, .9), 
        rgba(#030D0C, .5)), 
    url(../images/funky-lines.png);
    background-repeat: repeat;
}
.section-footer {
    background-image: linear-gradient(
        to bottom, 
        rgba(#020A07, .9), 
        rgba(#020A07, 1)), 
    url(../images/funky-lines.png);
    padding: 3rem 0;
}

.section-title {
    text-transform: uppercase;
    font-size: 3rem;
    letter-spacing: 5px;
    text-align: center;
    margin-bottom: 2rem;
}