body {
    background: rgba($color-grey-light, .5);
    // background-image: linear-gradient(
    //         to bottom, 
    //         rgba($color-grey-dark, .6), 
    //         rgba($color-grey-dark, .9)), 
    //     url('../images/topography.png');
}

.section-header {

    border-radius: 10px 10px 0 0;
    position: relative;
    text-align: center;
}

.section-projects {
    padding: 5rem 0 2rem;
    min-height: 110vh;
    background-repeat: repeat;

    &__flex {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    @include respond(xsmall) {
        
    }
}
.section-footer {
    padding: 3rem 0;
}

.section-title {
    text-transform: uppercase;
    font-size: 3rem;
    letter-spacing: 5px;
    text-align: center;
    margin-bottom: 2rem;
}