.wrapper {
    margin-left: auto;
    margin-right: auto;
    max-width: 1100px;
}

.container {
    background: rgba(#fff, .3);
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
}